@page "/filmdetalji/{Id}"

@using BlazorMoviesApp.Models
@using BlazorMoviesApp.ViewModels
@using BlazorMoviesApp.Services

@inject IFilmoviService filmoviService

@if (IzabraniFilm != null)
{
    @if (AktivniMod == Mod.Pregled)
    {
        <h2>Detalji za @IzabraniFilm.Naslov.ToUpper()</h2>
        <br />
        <table>
            <tr>
                <td><span>Id: </span></td>
                <td>@IzabraniFilm.Id</td>
            </tr>
            <tr>
                <td><span>Naslov: </span></td>
                <td>@IzabraniFilm.Naslov</td>
            </tr>
            <tr>
                <td><span>Žanr: </span></td>
                <td>@IzabraniFilm.Zanr</td>
            </tr>
            <tr>
                <td><span>Uloženo: </span></td>
                <td>@IzabraniFilm.Ulozeno</td>
            </tr>
            <tr>
                <td><span>Prikazuje se od: </span></td>
                <td>@IzabraniFilm.DatumPocetkaPrikazivanja.ToString("dd.MM.yyyy")</td>
            </tr>
        </table>
        <button class="clear" @onclick="Izmeni"> Izmeni</button>
    }
    @if (AktivniMod == Mod.Izmena)
    {
        <h2>Izmena podataka za @IzabraniFilm.Naslov.ToUpper()</h2>
        <br />
        <table>
            <tr>
                <td>
                    <label> Naslov: </label>
                </td>
                <td>
                    <input @bind="IzabraniFilm.Naslov" placeholder="Naslov">
                </td>
            </tr>
            <tr>
                <td>
                    <label> Žanr: </label>
                </td>
                <td>
                    <input @bind="IzabraniFilm.Zanr" placeholder="Zanr">
                </td>
            </tr>
            <tr>
                <td>
                    <label> Uloženo: </label>
                </td>
                <td>
                    <input @bind="IzabraniFilm.Ulozeno" placeholder="Ulozeno">
                </td>
            </tr>
            <tr>
                <td>
                    <label> Prikazuje se od: </label>
                </td>
                <td>
                    <input @bind="IzabraniFilm.DatumPocetkaPrikazivanja"
                   placeholder="DatumPocetkaPrikazivanja" @bind:format="@FormatDatuma">
                </td>
            </tr>
        </table>
        <button class="clear" @onclick="Sacuvaj"> Sačuvaj</button>
    }
}

@code
{
    enum Mod { Pregled, Izmena };

    private Mod AktivniMod { get; set; } = Mod.Pregled;

    private FilmUpdateDTO IzabraniFilm { get; set; }

    [Parameter]
    public string Id { get; set; } = "-1";

    [Parameter]
    public string FormatDatuma { get; set; } = "dd.MM.yyyy";

    protected override async Task OnInitializedAsync()
    {
        Film item = await filmoviService.GetFilmAsync(Convert.ToInt32(Id));
        IzabraniFilm = new FilmUpdateDTO()
            {
                Id = item.Id,
                Naslov = item.Naslov,
                Zanr = item.Zanr,
                DatumPocetkaPrikazivanja = item.DatumPocetkaPrikazivanja,
                Ulozeno = item.Ulozeno
            };
    }

    private async Task Izmeni()
    {
        AktivniMod = Mod.Izmena;
    }

    private async Task Sacuvaj()
    {
        AktivniMod = Mod.Pregled;
        int ret = await filmoviService.Update(IzabraniFilm);
        if(ret != 0)
            throw new Exception(this.GetType().Name + "::Sacuvaj():");
    }
}
