@page "/filmovi"
@using BlazorMoviesApp.Models
@using BlazorMoviesApp.ViewModels
@using BlazorMoviesApp.Services

@inject NavigationManager upravljanjeNavigacijom
@inject IFilmoviService filmoviService

<h1>Filmovi</h1>


@if (filmovi == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        <button disabled="@Dodavanje" @onclick="Kreiraj1"> Kreiraj</button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>
                        Naslov:
                        <div hidden="@(! Dodavanje)">
                            <br /><input @bind="filmAddDTO.Naslov" />
                        </div>
                    </label>
                </th>
                <th>
                    <label>
                        Početak prikazivanja:
                        <div hidden="@(! Dodavanje)">
                            <br /><input @bind="filmAddDTO.DatumPocetkaPrikazivanja"
                                     @bind:format="@FormatDatuma" />
                        </div>
                    </label>
                </th>
                <th>
                    <label>
                        Žanr:
                        <div hidden="@(! Dodavanje)">
                            <br />
                            <input @bind="filmAddDTO.Zanr" />
                        </div>
                    </label>
                </th>
                <th>
                    <label>
                        Uloženo:
                        <div hidden="@(! Dodavanje)">
                            <br />
                            <input type="number" @bind="filmAddDTO.Ulozeno" />
                            <button @onclick="Dodaj"> Dodaj</button>
                            <button @onclick="OtkaziKreiranje"> Otkaži</button>
                        </div>
                    </label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in filmovi)
            {
                <tr>
                    <td>
                        @item.Naslov.ToString()
                    </td>
                    <td>
                        @item.DatumPocetkaPrikazivanja.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @item.Zanr
                    </td>
                    <td>
                        @item.Ulozeno
                    </td>
                    <td>
                        <button class="select" @onclick="@(()=>Izaberi(item))">Izaberi</button>
                        <button class="delete" @onclick="@(()=>Obrisi(item))">Obriši</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Film> filmovi;

    private FilmAddDTO filmAddDTO = new FilmAddDTO()
        {
            Naslov = "",
            DatumPocetkaPrikazivanja = DateTime.Today,
            Zanr = "",
            Ulozeno = 1M
        };

    private bool Dodavanje { get; set; } = false;

    [Parameter]
    public string FormatDatuma { get; set; } = "dd.MM.yyyy";

    protected override async Task OnInitializedAsync()
    {
        filmovi = await filmoviService.GetFilmsAsync();
    }

    private async Task Kreiraj1()
    {
        Dodavanje = true;
    }

    private async Task Dodaj()
    {
        Dodavanje = false;
        int ret = await filmoviService.Add(filmAddDTO);
        if (ret == 0)
            filmovi = await filmoviService.GetFilmsAsync();
    }

    private async Task OtkaziKreiranje()
    {
        Dodavanje = false;
    }

    private async Task Izaberi(Film film)
    {
        upravljanjeNavigacijom.NavigateTo("/filmdetalji/" + film.Id);
    }

    private async Task Obrisi(Film film)
    {
        
    }


}