@page "/filmdetalji/{Id}"

@using BlazorMoviesApp.Models
@using BlazorMoviesApp.ViewModels
@using BlazorMoviesApp.Services

@inject IFilmoviService filmoviService

@if (IzabraniFilm != null)
{
    @if (AktivniMod == Mod.Pregled)
    {
        <h2>Detalji za @IzabraniFilm.Naslov.ToUpper()</h2>
        <br />
        <div><span>Id: </span>@IzabraniFilm.Id</div>
        <div><span>Naslov: </span>@IzabraniFilm.Naslov</div>
        <div><span>Žanr: </span>@IzabraniFilm.Zanr</div>
        <div><span>Uloženo: </span>@IzabraniFilm.Ulozeno</div>
        <div>
            <span>Prikazuje se od: </span>
            @IzabraniFilm.DatumPocetkaPrikazivanja?.ToString("dd.MM.yyyy")
        </div>
        <button class="clear" @onclick="Izmeni"> Edit</button>
    }
    @if (AktivniMod == Mod.Izmena)
    {
        <h2>Izmena podataka za @IzabraniFilm.Naslov.ToUpper()</h2>
        <div>
            <label> Naslov: </label>
            <input @bind="IzabraniFilm.Naslov" placeholder="Naslov">
        </div>
        <div>
            <label> Žanr: </label>
            <input @bind="IzabraniFilm.Zanr" placeholder="Zanr">
        </div>
        <div>
            <label> Uloženo: </label>
            <input @bind="IzabraniFilm.Ulozeno" placeholder="Ulozeno">
        </div>
        <div>
            <label> Prikazuje se od: </label>
            <input type="date" @bind="IzabraniFilm.DatumPocetkaPrikazivanja"
           placeholder="DatumPocetkaPrikazivanja">
        </div>
        <button class="clear" @onclick="Sacuvaj"> Sačuvaj</button>
    }
}

@code
{
    enum Mod { Pregled, Izmena };

    private Mod AktivniMod { get; set; } = Mod.Pregled;

    private Film IzabraniFilm { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IzabraniFilm = await filmsService.GetFilmAsync(Convert.ToInt32(Id));
    }

    private async Task Izmeni()
    {
        AktivniMod = Mod.Izmena;
    }

    private async Task Sacuvaj()
    {
        AktivniMod = Mod.Pregled;
        await _actorService.Update(IzabraniFilm);
    }
}
